.video_bg {
  height: 100%;
  width: 100%;
}

.gt_switcher-popup span {
  display: none;
}

#jp-relatedposts {
  display: none !important;
}

/* add background-color to product img, thumbnails  and Related products*/
.woocommerce-product-gallery__image,
.woocommerce-product-gallery__image a,
.woocommerce-product-gallery__image img,
.woocommerce-product-gallery__wrapper .zoomImg,
.woocommerce div.product div.images .flex-control-thumbs li img,
.elementor-7658
  .elementor-element.elementor-element-72cf9f8f.elementor-wc-products
  .attachment-woocommerce_thumbnail {
  background-color: #f1f1f1 !important;
}

/* hide SKU and product tags */
.product_meta .sku_wrapper,
.product_meta .tagged_as {
  display: none;
}

/*styling FIRST discount pack table*/
.rw-qty-tiers {
  max-width: 650px;
  padding: 20px;
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  background-color: #e9e6ed;
  /* 	background-color: #fafafa; */
}

/* title discount pack table */
.rw-qty-tiers p {
  margin-bottom: 20px;
  font-size: 22px;
}

/* discount options in discount pack table */
.rw-qty-tier-option {
  padding: 18px 20px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  background-color: #fafafa;
}

.rw-qty-tier-option label {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  align-items: center;
  width: 100%;
  font-size: 18px;
}

/* Price in discount pack table */
.rw-qty-tiers .woocommerce-Price-amount {
  font-weight: 700;
  font-size: 20px;
}

.rw-qty-tier-option .woocommerce-Price-amount:first-of-type {
  margin: 0 5px 0 5px;
}

.rw-qty-tier-option .woocommerce-Price-amount:last-of-type {
  margin: 0 5px 0 0;
}

/* radio buttons in discount pack table*/
.rw-qty-tier-option input[type='radio'] {
  appearance: none; /*hide the default radio buttons*/
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border: 2px solid #444;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.rw-qty-tier-option input[type='radio']:checked {
  border-color: black;
}

.rw-qty-tier-option input[type='radio']:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

/* Card border turns black when selected */
.rw-qty-tier-option input[type='radio']:checked {
  outline: none;
}
.rw-qty-tier-option input[type='radio']:checked:focus {
  outline: none;
}
.rw-qty-tier-option:has(input[type='radio']:checked) {
  border-color: #000;
  background-color: #fff;
}

/* SECOND discount pack table */
div.wcsatt-options-wrapper {
  max-width: 650px;
  padding: 20px;
  margin-bottom: 12px;
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  background-color: #e9e6ed;
}

/* discount options wrapper */
div.wcsatt-options-wrapper div.wcsatt-options-product-prompt {
  margin-bottom: 0;
}

div.wcsatt-options-wrapper ul.wcsatt-options-prompt-radios {
  padding: 0;
}

/* discount options in table */
ul.wcsatt-options-prompt-radios li.wcsatt-options-prompt-radio:first-child {
  margin-bottom: 4px;
}

/* Subscribe and price in one row */
ul.wcsatt-options-prompt-radios
  li.wcsatt-options-prompt-radio
  span.wcsatt-options-prompt-action {
  display: flex;
  flex-wrap: wrap;
}

li.wcsatt-options-prompt-radio {
  padding: 18px 20px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  background-color: #fafafa;
}

li.wcsatt-options-prompt-radio label {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  align-items: center;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

/* subscription price */
div.wcsatt-options-wrapper
  ul.wcsatt-options-prompt-radios
  span.subscription-price {
  font-weight: 700;
  font-size: 20px;
}

/* margin middle price */
div.wcsatt-options-wrapper span.subscription-price ins {
  margin: 0 5px 0 5px;
}

/* radio buttons in table*/
div.wcsatt-options-wrapper li.wcsatt-options-prompt-radio input[type='radio'] {
  appearance: none; /*hide the default radio buttons*/
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border: 2px solid #444;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* Card border turns black when selected */
li.wcsatt-options-prompt-radio:has(input[type='radio']:checked) {
  border-color: #000;
  background-color: #fff;
}

li.wcsatt-options-prompt-radio input[type='radio']:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

/* styling add to cart button */
.commercekit-sticky-atc-intersector .e-atc-qty-button-holder {
  max-width: 650px;
  margin-bottom: 15px;
}

.commercekit-sticky-atc-intersector
  .e-atc-qty-button-holder
  .single_add_to_cart_button,
form.cart .buy-now-button {
  width: 100%;
}

/* Buy now button */
form.cart .buy-now-button {
  max-width: 650px;
  text-align: center;
  background-color: #1a365d !important;
}

form.cart .buy-now-button:hover {
  color: #1a365d !important;
  background-color: #fff !important;
  border-color: #1a365d !important;
}

/* style sticky add to cart button */
.cgkit-elementor-sticky-add-to-cart-button
  .elm-sticky-atc_button-wrap
  button.elm-sticky-atc_button.button {
  margin-right: 10px;
  font-family: 'Poppins', Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 15px 50px 15px 50px;
  color: #ffffff;
  background-color: #f26524;
  border-color: #f26524;
  transition: all 0.2s;
}

.cgkit-elementor-sticky-add-to-cart-button
  .elm-sticky-atc_button-wrap
  button.elm-sticky-atc_button.button:hover {
  color: #f26524;
  background-color: #fff;
  border-color: #f26524;
}

/*PRICE*/
.woocommerce .elementor-element .price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.woocommerce .elementor-element .price .wcsatt-sub-options {
  font-size: 18px;
  display: block;
  width: 100%;
}

.woocommerce .elementor-element .price .wcsatt-sub-options .wcsatt-dash,
.woocommerce .elementor-element .price .wcsatt-sub-options del {
  display: none;
}

/* MERCH add to cart style */
/* variation table style */
table.variations {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

table.variations .label {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* add to cart quantity style */
.single_variation_wrap .commercekit-sticky-atc-intersector {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.single_variation_wrap .commercekit-sticky-atc-intersector .quantity {
  flex: 0 0 auto;
}

.commercekit-sticky-atc-intersector .single_add_to_cart_button {
  flex: 1;
  margin: 0 !important;
}
