<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <div class="purchase-box">

        <h2>ONE TIME PURCHASE</h2>

        <label class="option selected">
            <input type="radio" name="bags" checked>
            <div class="left">
                <span class="title">1 Bag</span>
                <span class="sub">20% savings</span>
            </div>

            <div class="right">
                <span class="old-price">$45.00</span>
                <span class="new-price">$35.97</span>
                <span class="badge">Save $9.03</span>
            </div>
        </label>

        <label class="option">
            <input type="radio" name="bags">
            <div class="left">
                <span class="title">2 Bags</span>
                <span class="sub">25% savings</span>
            </div>

            <div class="right">
                <span class="old-price">$90.00</span>
                <span class="new-price">$67.50</span>
                <span class="badge">Save $22.50</span>
            </div>
        </label>

        <label class="option">
            <input type="radio" name="bags">
            <div class="left">
                <span class="title">3 Bags</span>
                <span class="sub">30% savings</span>
            </div>

            <div class="right">
                <span class="old-price">$135.00</span>
                <span class="new-price">$94.50</span>
                <span class="badge">Save $40.50</span>
            </div>
        </label>

    </div>

</body>

</html>