section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.background-color {
  display: grid;
  grid-template-columns: repeat (auto-fit, minmax(min(296px, 100%)), 1fr);
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 35px,
      rgba(255, 255, 255, 0.05) 35px,
      rgba(255, 255, 255, 0.05) 70px
    ),
    linear-gradient(90deg, #101828 0%, #1e2939 50%, #101828 100%);
}
